@font-face { 
    font-family: 'Satoshi-Variable';
    src: url('./../assets/Satoshi-Variable.ttf') format('truetype');
    }

body {
    background-color: #618662;
    font-family: 'Satoshi-Variable';
}

#logo-img {
    width: 20em;
    height: auto;
    float: left;
}

.navbar {
    margin-top: 1em;
    margin-left: 1em;
    display: flex;
    width: 90%;
    justify-content: space-between;
}

ul a, .logout-btn {
    text-decoration: none;
    color: #000;
}

ul a:hover, .logout-btn {
    color: #fff;
    transition: 0.3s;
}

.navbar-items {
    display: flex;
    font-size: 1.5em;
}

a p, .logout-btn {
    margin-left:1em;
}


.active {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    color: #fff;
}

.banner {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:10%;

}

h1 {
    color: #000;
    font-weight: normal;
    font-size: 2.5em;
}

#banner-img {
    height: 30em;
    width: auto;
}

button, input[type="submit"], input[type="reset"] {
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.logout-btn {
    background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  color: black;
}

.logout-btn:hover {
    color: white;
    transition: 0.3s;
}

.banner-btn {
    height: 3em;
    width: 10em;
    font-size: 1.3em;
    margin-top:1em;
    border-radius: 1em;
    text-decoration: none;
}

#registration-btn {
    margin-left:1.5em;
    background-color: #cfb73e;
}

#registration-btn:hover {
    background-color: #fff1a9;
    transition: 0.3s;
}


#login-btn:hover {
    background-color: #fff;
    transition: 0.3s;
}

.registration-form input, .login-form input {
    height: 2.8em;
    width: 20em;
    border-radius: 1em;
    border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-color: #d9d9d9;
    margin-top:0.3em;
    padding-left: 1em;
}

.btn {
    height: 2.8em;
    width: 20em;
    border-radius: 1em;
    font-size:1em;
}

#login, #name, #city {
    margin-right: 3em;
}

#email {
    width: 43em;
}

#submit-btn {
    background: linear-gradient(90deg, #92B993 0%, #FFF 156.27%);
    color: white;
    display: block;
    float: right;
    margin-top: 1em;
    width:15em;
}

#submit-btn-login, .btn {
    background: linear-gradient(90deg, #92B993 0%, #FFF 156.27%);
    color: white;
    display: block;
    margin-top: 3em;
    width:15em;
}

#submit-btn:hover, #submit-btn-login:hover, .btn:hover {
    background: linear-gradient(90deg, #6b936b 0%, #e2e2e2 156.27%);
    transition: 0.3s;
}

.form {
    width: 65%;
    height: 98vh;
    display: flex;
    place-self: center;
    margin: 0;
    justify-content: center;
    background-color: #F2F2F2;
}

.registration-form {
    margin-top: 15vh;
}

input, label {
    display: block;
}

label {
    margin-top:2em;
}

.decoration {
    width:35%;
    display: flex;
    justify-content: center;
}

#house-img {
    margin-top: 20vh;
    width: 30em;

}

span a {
    color:#0500ff;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a img {
    width: 3em;
}

a span {
    color: #618662;
    font-size: 1.5em;
    margin-left:0.5em;
}

.go-back-btn {
    display: block;
    float: right;
}

.login-form {
    margin-top: 15vh;
    width: 70%;
}


.flex-row {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
    padding: 25px;
    background-color: white;
    margin-top:3em;
}

.flex-row > h1 {
    position: absolute;
    text-align: center;
    margin: 0;
}

.flex-row > .sidebar, .content {
    margin-top: 3em;
}

.flex-row > .sidebar {
    float: left;
    width: 20%;
    border-right: 1px solid #EEE;
    margin-left: auto;
    margin-top: 5em;
}

.flex-row > .content {
    width: 75%;
    padding-left: 20px;
}

.flex-row > .content > label {
    margin-top: 1em;
}
.flex-row > .content > input[type="text"],input[type="password"]  {
    height: 2.8em;
    width: 20em;
    border-radius: 1em;
    border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-color: #d9d9d9;
    margin-top:0.3em;
    padding-left: 1em;
}
#group_submit {
margin-top: 20px;
}
input[id="send_changes"] {
    padding: 10px 20px;
    color: #000AFF;
    border: none;
    background-color: #EEE;
    cursor: pointer;
    float: left;
}
input[id="account_delete"] {
    padding: 10px 20px;
    color: #F00;
    border: none;
    background-color: white;
    margin-right: 100px;
    cursor: pointer;
    float: right;
}

.login-info-container {
    display:flex;
    justify-content: center;
}

.login-info-text {
    margin-top:20vh;
}

.btn {
    font-size: 1.5em;
}

#posts-container {
    display: flex;
    justify-content: center;
    width:100%;
    height:80vh;
}

#posts-background {
    width: 85%;
    background-color: white;
    margin-top: 3em;
}